{% extends "layout.html" %}

{% block title %} CURRICULUM {%endblock%} 

{% block content %}
<div class="container">
    <div class="card">
        <div class="section has-text-centered">
            <h1>CURRICULUM</h1>
            <br>
            <h4>REGISTERED PROGRAM:</h4>
            <h5>{{session["user_term"].replace("_"," ")}}</h5>
        </div>
    </div>

    <hr>
    {% for result in results %}
    <div class="box">
        <a href="\course\{{result['course_id']}}"><span class="tag is-info is-medium ml-6">{{result["course_id"]}}</span></a>
        {% if result["equ_code"] %}
        <span class="tag is-info is-light ml-3">{{result["equ_code"]}}</span>
        {% endif %}
        <span class="tag is-primary is-light ml-3">{{result["course_name"]}}</span>
        <span class="tag is-secondary is-light ml-3">credit: {{result["credit"]}}</span>
        {% if result["grade"]=="FF" or result["grade"]=="VF" or result["grade"]=="" or result["grade"]=="XX" %}
        <span class="tag is-danger is-medium  ml-3">{{result["grade"]}}</span>
        {% elif result["grade"] %}
        <span class="tag is-success is-medium  ml-3">{{result["grade"]}}</span>
        {% endif %}
        
        <br>
    </div>
    {% endfor %}
    <hr>
</div>
{% endblock %}